<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Sr.No</Data></Cell>
        <Cell><Data ss:Type="String">Consumer No</Data></Cell>
        <Cell><Data ss:Type="String">Task Date</Data></Cell>
        <Cell><Data ss:Type="String">Party Name</Data></Cell>
        <Cell><Data ss:Type="String">Allocated to</Data></Cell>
        
      </Row>
    <% @tasks.each do |task| %>
      <Row>
        <Cell><Data ss:Type="String"><%= task.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= task.task_consumer_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= task.created_at.strftime("%d-%m-%y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= task.customer_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= task.allocated_to %></Data></Cell>        
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
