<p>List of Tasks in the particular order</p>

<p><b>Create new task list here :</b><%= link_to " New Task List" , new_task_list_path%></p>
<p class="text-success"><strong>Edit via clicking the consumer number</strong></p>
   <p class="text-success"><strong>Not Done</strong> Tasks</p>
<table width = "800" border="1" cellpadding="5" cellspacing="5">
  <tr>
    <th>No</th>
    <th>Task date</th>
    <th>Allocated</th>
    <th>Expense</th>
  </tr>
 
  <% TaskList.all.each do |task_list| %>
      <tr>
      <td><%= task_list.id%></td>
      <td><%= link_to task_list.task_list_date, edit_task_list_path(task_list) %></td>
      <td><%= task_list.allocated_to%></td>
      <td><%= task_list.expense%></td>
      </tr>
    <% end %>
</table>
<br>
<BR>
<BR>

<p>For new task list click here : <%= link_to " New Task List" , new_task_list_path%></p>
